<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 The galaxym12development Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.galaxym12.samsungparts"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="@string/app_title"
        android:icon="@drawable/ic_samsung_parts"
        android:persistent="false"
        android:allowBackup="false">

        <activity
            android:name=".SamsungPartsActivity"
            android:exported="true"
            android:label="@string/app_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/app_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_samsung_parts" />
        </activity>

        <service
            android:name=".RefreshRateTileService"
            android:exported="true"
            android:icon="@drawable/ic_refresh_rate"
            android:label="@string/refresh_rate_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
